<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="AzureWebJobsStorage" connectionString="#{keyvault:powerbi:services-storage-jobs-westus-connection-string}" />
</connectionStrings>