<section class="section">
    <div class="row">
        <div class="column">
            <h1>Form</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column medium-4">
            <h3>Form field</h3>
            <h5>Resting</h5>
            <ul>
                <li><code>&lt;input type="text" /&gt;</code></li>
                <li>text: 18px, segoe ui light, #A6A6A6</li>
                <li>background: #FFFFFF</li>
                <li>border: 2px, #EAEAEA</li>
                <li>height: 44px</li>
            </ul>
            <h5>Hover</h5>
            <ul>
                <li>border: 2px, #A6A6A6</li>
            </ul>
            <h5>Active</h5>
            <ul>
                <li>text: 18px, segoe ui light, #333333</li>
                <li>border: 2px, #F2C811</li>
            </ul>
            <input type="text" placeholder="Enter your email address" />
        </div>
        <div class="column medium-4 medium-offset-2">
            <h3>Dropdown lists</h3>
            <h5>Resting</h5>
            <ul>
                <li><code>&lt;select&gt;</code></li>
                <li>text: 18px, segoe ui semibold, #333333</li>
                <li>background: #FFFFFF</li>
                <li>border: 2px, #EAEAEA</li>
                <li>height: 44px</li>
            </ul>
            <h5>Hover</h5>
            <ul>
                <li>border: 2px, #A6A6A6</li>
            </ul>
            <h5>Active</h5>
            <ul>
                <li>border: 2px, #F2C811</li>
            </ul>
            <select>
                <option>US Dollar ($)</option>
                <option>Argentine Peso ($)</option>
                <option>Australian Dollar ($)</option>
                <option>Canadian Dollar ($)</option>
                <option disabled="disabled">Danish Krone (kr)</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="column medium-4 medium-offset-6">
            <h3>Utility</h3>
            <h5>Resting</h5>
            <ul>
                <li><code>&lt;select&gt;</code></li>
                <li>text: 12px, segoe ui semibold, #333333</li>
                <li>background: transparent</li>
                <li>border: 1px, #C8C8C8</li>
                <li>height: 34px</li>
            </ul>
            <select class="utility">
                <option>US Dollar ($)</option>
                <option>Argentine Peso ($)</option>
                <option>Australian Dollar ($)</option>
                <option>Canadian Dollar ($)</option>
                <option disabled="disabled">Danish Krone (kr)</option>
            </select>
        </div>
    </div>
</section>
