<section class="section">
    <div class="row">
        <div class="column">
            <h1>Links</h1>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column medium-3">
            <h3>Link in paragraph</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget urna ipsum. Nulla <a href="">congue varius</a> luctus. Morbi sed lorem et metus efficitur ullamcorper id at eros.</p>
            <p class="text-mini">Lorem ipsum dolor <a href="">sit amet</a>, consectetur adipiscing elit.</p>
            <p class="text-micro">Lorem ipsum dolor <a href="">sit amet</a>, consectetur adipiscing elit.</p>
        </div>
        <div class="column medium-3">
            <h3>Linklist (alternate)</h3>
            <ul class="linkList text-heading4">
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
            </ul>
        </div>
        <div class="column medium-3">
            <div class="row column">
                <h3>Linklist</h3>
                <ul class="linkList">
                    <li><a href="">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="">Lorem ipsum dolor sit amet</a></li>
                </ul>
            </div>
            <div class="row column row-size1">
                <a class="cta-secondary" href="#">Secondary cta<span class="glyphicon glyph-micro pbi-glyph-chevronrightmedium"></span></a>
            </div>
        </div>
        <div class="column medium-3">
            <div class="row column">
                <h3>Heading</h3>
                <h1><a href="">Lorem ipsum dolor sit amet</a></h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget urna ipsum. Nulla <a href="">congue varius</a> luctus. Morbi sed lorem et metus efficitur ullamcorper id at eros.</p>
            </div>
            <div class="row column row-size1">
                <a class="cta-secondary" href="#">Secondary cta<span class="glyphicon glyph-micro pbi-glyph-chevronrightmedium"></span></a>
            </div>
        </div>
    </div>
</section>

<section class="section section-slate06">
    <div class="row">
        <div class="column medium-3">
            <h3>Link in paragraph</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget urna ipsum. Nulla <a href="">congue varius</a> luctus. Morbi sed lorem et metus efficitur ullamcorper id at eros.</p>
            <p class="text-mini">Lorem ipsum dolor <a href="">sit amet</a>, consectetur adipiscing elit.</p>
            <p class="text-micro">Lorem ipsum dolor <a href="">sit amet</a>, consectetur adipiscing elit.</p>
        </div>
        <div class="column medium-3">
            <h3>Linklist (alternate)</h3>
            <ul class="linkList text-heading4">
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
            </ul>
        </div>
        <div class="column medium-3">
            <div class="row column">
                <h3>Linklist</h3>
                <ul class="linkList">
                    <li><a href="">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="">Lorem ipsum dolor sit amet</a></li>
                </ul>
            </div>
            <div class="row column row-size1">
                <a class="cta-secondary" href="#">Secondary cta<span class="glyphicon glyph-micro pbi-glyph-chevronrightmedium"></span></a>
            </div>
        </div>
        <div class="column medium-3">
            <h3>Heading</h3>
            <h1><a href="">Lorem ipsum dolor sit amet</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget urna ipsum. Nulla <a href="">congue varius</a> luctus. Morbi sed lorem et metus efficitur ullamcorper id at eros.</p>
            <div class="row column row-size1">
                <a class="cta-secondary" href="#">Secondary cta<span class="glyphicon glyph-micro pbi-glyph-chevronrightmedium"></span></a>
            </div>
        </div>
    </div>
</section>

<section class="section section-slate01">
    <div class="row">
        <div class="column medium-3">
            <h3>Link in paragraph</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget urna ipsum. Nulla <a href="">congue varius</a> luctus. Morbi sed lorem et metus efficitur ullamcorper id at eros.</p>
            <p class="text-mini">Lorem ipsum dolor <a href="">sit amet</a>, consectetur adipiscing elit.</p>
            <p class="text-micro">Lorem ipsum dolor <a href="">sit amet</a>, consectetur adipiscing elit.</p>
        </div>
        <div class="column medium-3">
            <h3>Linklist (alternate)</h3>
            <ul class="linkList text-heading4">
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
            </ul>
        </div>
        <div class="column medium-3">
            <div class="row column">
                <h3>Linklist</h3>
                <ul class="linkList">
                    <li><a href="">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="">Lorem ipsum dolor sit amet</a></li>
                    <li><a href="">Lorem ipsum dolor sit amet</a></li>
                </ul>
            </div>
            <div class="row column row-size1">
                <a class="cta-secondary" href="#">Secondary cta<span class="glyphicon glyph-micro pbi-glyph-chevronrightmedium"></span></a>
            </div>
        </div>
        <div class="column medium-3">
            <h3>Heading</h3>
            <h1><a href="">Lorem ipsum dolor sit amet</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget urna ipsum. Nulla <a href="">congue varius</a> luctus. Morbi sed lorem et metus efficitur ullamcorper id at eros.</p>
            <div class="row column row-size1">
                <a class="cta-secondary" href="#">Secondary cta<span class="glyphicon glyph-micro pbi-glyph-chevronrightmedium"></span></a>
            </div>
        </div>
    </div>
</section>

<section class="section section-palette02">
    <div class="row">
        <div class="column medium-3">
            <h3>Link in paragraph</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget urna ipsum. Nulla <a href="">congue varius</a> luctus. Morbi sed lorem et metus efficitur ullamcorper id at eros.</p>
            <p class="text-mini">Lorem ipsum dolor <a href="">sit amet</a>, consectetur adipiscing elit.</p>
            <p class="text-micro">Lorem ipsum dolor <a href="">sit amet</a>, consectetur adipiscing elit.</p>
        </div>
        <div class="column medium-3">
            <h3>Linklist (alternate)</h3>
            <ul class="linkList text-heading4">
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
            </ul>
        </div>
        <div class="column medium-3">
            <h3>Linklist</h3>
            <ul class="linkList">
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
                <li><a href="">Lorem ipsum dolor sit amet</a></li>
            </ul>
            <div class="row column row-size1">
                <a class="cta-secondary" href="#">Secondary cta<span class="glyphicon glyph-micro pbi-glyph-chevronrightmedium"></span></a>
            </div>
        </div>
        <div class="column medium-3">
            <h3>Heading</h3>
            <h1><a href="">Lorem ipsum dolor sit amet</a></h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean eget urna ipsum. Nulla <a href="">congue varius</a> luctus. Morbi sed lorem et metus efficitur ullamcorper id at eros.</p>
            <div class="row column row-size1">
                <a class="cta-secondary" href="#">Secondary cta<span class="glyphicon glyph-micro pbi-glyph-chevronrightmedium"></span></a>
            </div>
        </div>
    </div>
</section>
