<section class="section">
    <div class="row">
        <div class="column">
            <h1>Typography</h1>
            <p>Use "auto" setting on leading. Use sentence casing site wide:</p>
            <ul>
                <li><p><span style="color: green;">&check;</span> This is sentence cased</p></li>
                <li><p><span style="color: red;">&cross;</span> This Is Not Sentence Cased</p></li>
            </ul>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Font</h3>

            <p><strong>Text:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            <p><strong>Link:</strong> <a href="#">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</a></p>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Titles</h3>

            <h1 class="text-super">Super Header</h1>
            <h1>Header (h1)</h1>
            <h2>Header (h2)</h2>
            <h3>Header (h3)</h3>
            <h4>Header (h4)</h4>
            <h5>Header (h5)</h5>
            <h6>Header (h6)</h6>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Cute lil text</h3>

            <p class="text-mini">Mini</p>
            <p class="text-micro">Micro</p>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Body (p)</h3>

            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut aliquet sapien tortor, ut suscipit justo hendrerit a. Aenean in velit metus. Pellentesque sed convallis libero. Maecenas at quam mauris. Quisque viverra congue dolor, quis scelerisque justo sollicitudin quis. Curabitur ut felis diam. Nunc scelerisque libero nunc, et tincidunt augue rutrum sed. Ut laoreet sem eros, feugiat commodo nisi pellentesque nec.</p>

            <p><strong>Strong</strong> pellentesque sed magna placerat, viverra tellus a, pulvinar metus. Nulla auctor dolor sed leo pretium, in tempus orci malesuada. Donec a magna quam. Cras in lorem et elit scelerisque rhoncus. Ut ut elit ac sapien pretium semper eget vel leo. Maecenas vel cursus odio, vitae aliquet velit. Donec sit amet rhoncus magna. Phasellus a felis rhoncus, dictum risus vitae, tempus odio. Pellentesque suscipit commodo diam, in laoreet lorem convallis vitae. Donec lacinia mi vitae massa varius, facilisis condimentum diam adipiscing. Curabitur sed dui ut enim imperdiet adipiscing. Maecenas pretium vulputate lectus in ornare.</p>

            <p>Praesent ut augue enim. Curabitur nunc erat, semper et eleifend id, cursus et lectus. Ut tempus ultricies accumsan. Nulla congue vel quam eget porta. Aliquam et ipsum non quam blandit convallis non in ipsum. Aenean condimentum lacinia enim, non pulvinar erat. Donec ut nulla eu odio suscipit aliquet. Quisque tincidunt posuere risus, sit amet tempor lectus interdum gravida. Phasellus tempus erat at tristique dictum. Nam fermentum eleifend metus, a porttitor velit accumsan et. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Aenean sed scelerisque enim. Pellentesque sit amet odio adipiscing, euismod est nec, hendrerit ligula. Nullam fermentum aliquet dui eu dictum. In volutpat nec lectus ac ullamcorper. Nunc vitae libero metus.</p>
        </div>

    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Superscript</h3>
            <p>There are a few instances where we use superscript on the site. There are little nuances of where to put the space and the superscript itself. Let's take a look at a few examples:</p>

            <h4>Headings</h4>
            <p>This example has the text "preview" after our new service. <code>&lt;h2&gt;Super Awesome Service Release 3 SP 6 &lt;sup&gt;PREVIEW&lt;/sup&gt;&lt;/h2&gt;</code></p>
            <h2>Super Awesome Service Release 3 SP 6 <sup>PREVIEW</sup></h2>

            <h4>Tables</h4>
            <p>In table cells and captions, there is no space between the content and the superscript. <code>&lt;td&gt;Something&lt;sup&gt;1&lt;/sup&gt; very important and cool&lt;/td&gt;</code></p>
            <table class="wa-table-auto">
                <caption><sup>1</sup>This is some more information about Something<br /><sup>&dagger;</sup>Disclaimer here</caption>
                <tbody>
                    <tr>
                        <td>Something<sup>1</sup> very important and cool</td>
                        <td>Something Else equally as cool<sup>&dagger;</sup></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Quote</h3>

            <blockquote>"I quote: This is a blockquote. End quote."</blockquote>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <h3>Bullets</h3>
            <p> Bulleted list</p>

            <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eleifend nunc non ultricies ornare. Pellentesque auctor tellus dolor, quis fringilla nunc mollis vel.</li>
                <li>Morbi sit amet libero tellus. Etiam pretium lacus et nisl imperdiet mollis sed et odio. Cum sociis natoque penatibus et magnis dis parturient montes.</li>
                <li>Ascetur ridiculus mus. Integer metus erat, porta eu sapien vitae, ullamcorper sagittis lacus. Aenean sodales turpis nec mi molestie commodo.</li>
            </ul>

            <ol>
                <li>
                    Chapter One
                    <ol>
                        <li>Section One</li>
                        <li>Section Two </li>
                        <li>Section Three </li>
                    </ol>
                </li>
                <li>Chapter Two</li>
                <li>Chapter Three  </li>
            </ol>
        </div>
    </div>
</section>
