<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Azure.DocumentDB" version="1.10.0" targetFramework="net452" />
  <package id="Newtonsoft.Json" version="7.0.1" targetFramework="net452" />
  <package id="Onyx.Configuration" version="1.0.139" targetFramework="net452" />
  <package id="Onyx.DocumentDb" version="1.0.54" targetFramework="net452" />
  <package id="Onyx.IO" version="1.0.98" targetFramework="net452" />
  <package id="Onyx.Mediation" version="1.0.44" targetFramework="net452" />
</packages>