<section>
    <div class="row column">
        <a href="https://info.microsoft.com/CO-PowerBI-ContactMe-Register.html">
            <div class="custom-olark-container chat-row-phone">
                <span class="icon">@SvgHelper.GetSvg("phone")</span>
            </div>
        </a>
        <div class="custom-olark-container">
            <span class="glyphicon glyph-small pbi-glyph-comment"></span>
        </div>
        <a href="https://info.microsoft.com/CO-PowerBI-RequestADemo-Register.html">
            <div class="custom-olark-container demo-contact">
                Request demo
            </div>
        </a>
    </div>
</section>
