<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <!-- Seq settings -->
  <add key="SeqServer" value="http://localhost:5341/" />
  <add key="SeqServerApiKey" value="#{keyvault:bcp:jobs-seq-apikey}" />
  <add key="SeqAllowFileBuffer" value="false" />
</appSettings>