<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="AzureWebJobsDashboard" connectionString="#{keyvault:bcp:services-storage-jobs-westus-connection-string}" />
  <add name="AzureWebJobsStorage" connectionString="#{keyvault:bcp:services-storage-jobs-westus-connection-string}" />
</connectionStrings>