<header data-tag-area="header" data-tag-group="header">
    <nav class="navigation navigation-themed navigation-absolute" role="navigation">
        <div class="row column">
            <ul class="logos">
                <li class="logo-microsoft">
                    <span class="icon">@SvgHelper.GetSvg("microsoft")</span>
                </li>
                <li class="logo logo-powerbi">
                    <a href="@Html.LocalizeUrl("/", isFullyQualified: true)" class="icon">
                        <span class="icon">@SvgHelper.GetSvg("powerbi")</span>
                    </a>
                </li>
            </ul>
        </div>
    </nav>
</header>
