.post + .post {
  margin-top: 50px;
  padding-top: 50px;
  border-top: 1px solid #C8C8C8;
}
.post p {
  margin: 22px 0;
}
.post .post-date {
  margin: 0;
}
.post .post-date a {
  color: #f2c811;
}
.post .post-date a:hover {
  color: #f2c811;
}
.post .linkList {
  margin-right: 15px;
}
.post .author,
.post .linkList {
  display: inline-block;
  vertical-align: middle;
}