.navigation.navigation-themed {
  color: #000;
  fill: #000;
  background-color: #ffffff;
}
.navigation.navigation-themed .logo-microsoft {
  border-color: rgba(0, 0, 0, 0.1);
}
.navigation.navigation-themed .menu-main > li > a:hover,
.navigation.navigation-themed .menu-secondary > li > a:hover,
.navigation.navigation-themed .menu-main > li > a.active,
.navigation.navigation-themed .menu-secondary > li > a.active {
  background-color: #f5d341;
}
.navigation.navigation-themed .menu-main > li > a:active,
.navigation.navigation-themed .menu-secondary > li > a:active {
  background-color: #f6d958;
}
.navigation.navigation-themed .menu-main {
  background-color: #f3ce29;
}
.navigation.navigation-themed .menu-drop {
  background-color: #f5d341;
}
.navigation.navigation-themed .menu-drop a:hover,
.navigation.navigation-themed .menu-drop a.active {
  background-color: #f6d958;
}
.navigation.navigation-themed .menu-drop a:active {
  background-color: #f7de70;
}
.navigation.navigation-themed .menu-pop {
  background-color: #f6d958;
}
.navigation.navigation-themed .menu-pop a:hover,
.navigation.navigation-themed .menu-pop a.active {
  background-color: #f7de70;
}
.navigation.navigation-themed .menu-pop a:active {
  background-color: #f7de70;
}
.navigation.navigation-themed .hamburger {
  border-color: rgba(0, 0, 0, 0.1);
}
.navigation.navigation-themed .hamburger .icon-hamburger {
  border-color: rgba(0, 0, 0, 0.1);
}
.navigation.navigation-themed .hamburger-deluxe .fixin {
  background-color: #000;
}