@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoe-ui/light/latest.eot');
  src: local("Segoe UI Light"), url('/fonts/segoe-ui/light/latest.eot?#iefix') format('embedded-opentype'), url('/fonts/segoe-ui/light/latest.woff') format('woff'), url('/fonts/segoe-ui/light/latest.ttf') format('truetype'), url('/fonts/segoe-ui/light/latest.svg#web') format('svg');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoe-ui/semilight/latest.eot');
  src: local("Segoe UI Semilight"), url('/fonts/segoe-ui/semilight/latest.eot?#iefix') format('embedded-opentype'), url('/fonts/segoe-ui/semilight/latest.woff') format('woff'), url('/fonts/segoe-ui/semilight/latest.ttf') format('truetype'), url('/fonts/segoe-ui/semilight/latest.svg#web') format('svg');
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoe-ui/normal/latest.eot');
  src: local("Segoe UI"), url('/fonts/segoe-ui/normal/latest.eot?#iefix') format('embedded-opentype'), url('/fonts/segoe-ui/normal/latest.woff') format('woff'), url('/fonts/segoe-ui/normal/latest.ttf') format('truetype'), url('/fonts/segoe-ui/normal/latest.svg#web') format('svg');
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoe-ui/semibold/latest.eot');
  src: local("Segoe UI Semibold"), url('/fonts/segoe-ui/semibold/latest.eot?#iefix') format('embedded-opentype'), url('/fonts/segoe-ui/semibold/latest.woff') format('woff'), url('/fonts/segoe-ui/semibold/latest.ttf') format('truetype'), url('/fonts/segoe-ui/semibold/latest.svg#web') format('svg');
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Segoe UI';
  src: url('/fonts/segoe-ui/bold/latest.eot');
  src: local("Segoe UI Bold"), url('/fonts/segoe-ui/bold/latest.eot?#iefix') format('embedded-opentype'), url('/fonts/segoe-ui/bold/latest.woff') format('woff'), url('/fonts/segoe-ui/bold/latest.ttf') format('truetype'), url('/fonts/segoe-ui/bold/latest.svg#web') format('svg');
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'PowerBIMDL2';
  src: url('/fonts/powerbimdl2/normal/latest.eot');
  src: local("PowerBIMDL2Assets-Regular"), url('/fonts/powerbimdl2/normal/latest.eot?#iefix') format('embedded-opentype'), url('/fonts/powerbimdl2/normal/latest.woff') format('woff'), url('/fonts/powerbimdl2/normal/latest.ttf') format('truetype'), url('/fonts/powerbimdl2/normal/latest.svg#web') format('svg');
  font-style: normal;
  font-weight: 400;
}