.column-stretch {
  display: none;
}
@media only screen and (min-width: 768px) {
  .column-smiling-girl {
    background-image: url(/pictures/shared/section/smiling-girl.png);
  }
  .column-stretch {
    background-position: 50% 50%;
    background-size: cover;
    bottom: 0;
    display: block;
    margin: 0;
    padding: 0 1.04166667%;
    position: absolute;
    right: 0;
    top: 0;
  }
}
@media only screen and (min-width: 960px) {
  .row.row-flex {
    display: flex;
    align-items: center;
  }
}