.cta-secondary {
  font-size: 18px;
  font-weight: 600;
  padding: 7px 0 8px;
  vertical-align: bottom;
  display: inline-block;
}
.cta-secondary .glyphicon {
  -webkit-transition: margin-left 0.1s ease-in-out;
  transition: margin-left 0.1s ease-in-out;
  margin-left: 6px;
}
.cta-secondary:hover {
  text-decoration: none;
}
.cta-secondary:hover .glyphicon {
  margin-left: 8px;
}