h1,
.text-heading1 {
  font-weight: 200;
  font-size: 36px;
  line-height: 1.22;
  letter-spacing: -0.01em;
  font-weight: 700;
}
h2,
.text-heading2 {
  font-weight: 200;
  font-size: 30px;
  line-height: 1.18;
  font-weight: 700;
}
h3,
.text-heading3 {
  font-weight: 400;
  font-size: 22px;
  line-height: 1.17;
  font-weight: 700;
}
h4,
.text-heading4 {
  color: #666666;
  font-family: 'DIN', 'Segoe UI', 'Segoe WP', Tahoma, Arial, sans-serif;
  font-size: 16px;
  font-weight: 200;
  letter-spacing: .05em;
  text-transform: uppercase;
}
h5,
.text-heading5 {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.33;
  font-weight: 700;
  margin-bottom: 20px;
}
h6,
.text-heading6 {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.5;
  font-weight: 700;
}
.text-super {
  font-weight: 200;
  font-size: 48px;
  line-height: 1.16;
  letter-spacing: -0.01em;
  font-weight: 700;
}
a:hover {
  text-decoration: underline;
}
ul {
  padding-left: 47px;
}
.no-text-transform {
  text-transform: none;
}