<section class="section">
    <div class="row">
        <div class="column">

            <h1>Borders</h1>
        </div>
    </div>
</section>

<section class="section section-size3">
    <div class="row">
        <div class="column large-6">
            <h3>Border (default)</h3>
            <p>Default styling:</p>
            <pre>
            <code>
                .border{
                    border-color: #EAEAEA;
                    border-style: solid;
                    border-width: 1px;
                }
                </code>
            </pre>
        </div>
        <div class="column large-6">
            <h3>Use Case(s):</h3>
            <ul>
                <li>
                    <a href="/solution-templates">
                        Solution templates
                    </a>
                </li>
            </ul>
            <h3>Usage</h3>

            <ul>
                <li>
                    Colors: default (#EAEAEA), black (#000000)
                </li>
                <li>
                    Border side modifiers: top, bottom, left, right
                </li>
                <li>
                    Border radius modifiers: default (6px all sides), curved top corners only (6px top two corners), curved bottom corners only (6px bottom two corners)
                </li>
            </ul>
        </div>
    </div>

</section>

<section class="section section-size3">
    <div class="row column">
        <h3>Default & Color Modifier</h3>
    </div>
   <div class="row row-size2">
       <div class="column medium-6">
           <code>.border</code><br /><br />
           <div class="border">
               <h3>Sales Management for MS Dynamics</h3>
               <p>
                   The Dynamics CRM solution template contains everything needed for a secure, scalable and extensible Sales Management dashboard analytics. In just a few hours stand up an end-to-end solution including Scribe’s cloud-based ETL platform, a cloud or on-premise database, and polished Power BI reports (including a security model derived from your own Dynamics CRM instance).
               </p>
           </div>
       </div>
       <div class="column medium-6">
           <code>.border .border-slate01</code><br /><br />
           <div class="border border-slate01">
               <h3>Sales Management for MS Dynamics</h3>
               <p>
                   The Dynamics CRM solution template contains everything needed for a secure, scalable and extensible Sales Management dashboard analytics. In just a few hours stand up an end-to-end solution including Scribe’s cloud-based ETL platform, a cloud or on-premise database, and polished Power BI reports (including a security model derived from your own Dynamics CRM instance).
               </p>
           </div>
       </div>
   </div>
</section>

<section class="section section-size3">
    <div class="row column">
        <h3>Border Sides</h3>
    </div>
    <div class="row row-size2">
        <div class="column medium-3">
            <code>.border-top</code><br /><br />
            <div class="border-top">
                <h3>Sales Management for MS Dynamics</h3>
                <p>
                    The Dynamics CRM solution template contains everything needed for a secure, scalable and extensible Sales Management dashboard analytics. In just a few hours stand up an end-to-end solution including Scribe’s cloud-based ETL platform, a cloud or on-premise database, and polished Power BI reports (including a security model derived from your own Dynamics CRM instance).
                </p>
            </div>
        </div>
        <div class="column medium-3">
            <code>.border-bottom</code><br /><br />
            <div class="border-bottom">
                <h3>Sales Management for MS Dynamics</h3>
                <p>
                    The Dynamics CRM solution template contains everything needed for a secure, scalable and extensible Sales Management dashboard analytics. In just a few hours stand up an end-to-end solution including Scribe’s cloud-based ETL platform, a cloud or on-premise database, and polished Power BI reports (including a security model derived from your own Dynamics CRM instance).
                </p>
            </div>
        </div>
        <div class="column medium-3">
            <code>.border-left</code><br /><br />
            <div class="border-left">
                <h3>Sales Management for MS Dynamics</h3>
                <p>
                    The Dynamics CRM solution template contains everything needed for a secure, scalable and extensible Sales Management dashboard analytics. In just a few hours stand up an end-to-end solution including Scribe’s cloud-based ETL platform, a cloud or on-premise database, and polished Power BI reports (including a security model derived from your own Dynamics CRM instance).
                </p>
            </div>
        </div>
        <div class="column medium-3">
            <code>.border-right</code><br /><br />
            <div class="border-right">
                <h3>Sales Management for MS Dynamics</h3>
                <p>
                    The Dynamics CRM solution template contains everything needed for a secure, scalable and extensible Sales Management dashboard analytics. In just a few hours stand up an end-to-end solution including Scribe’s cloud-based ETL platform, a cloud or on-premise database, and polished Power BI reports (including a security model derived from your own Dynamics CRM instance).
                </p>
            </div>
        </div>
    </div>
</section>

<section class="section section-size3 section-slate06">
    <div class="row column">
        <h3>Border Radius Modifiers</h3>
    </div>
    <div class="row row-size2">
        <div class="column medium-6">
            <code>.border-radius</code><br /><br />
            <div class="border-radius" style="background-color:#ffffff;">
                <h3>Sales Management for MS Dynamics</h3>
                <p>
                    The Dynamics CRM solution template contains everything needed for a secure, scalable and extensible Sales Management dashboard analytics. In just a few hours stand up an end-to-end solution including Scribe’s cloud-based ETL platform, a cloud or on-premise database, and polished Power BI reports (including a security model derived from your own Dynamics CRM instance).
                </p>
            </div>
        </div>
        <div class="column medium-6">
            <code>.border .border-slate01 .border-radius</code><br /><br />
            <div class="border border-radius border-slate01">
                <h3>Sales Management for MS Dynamics</h3>
                <p>
                    The Dynamics CRM solution template contains everything needed for a secure, scalable and extensible Sales Management dashboard analytics. In just a few hours stand up an end-to-end solution including Scribe’s cloud-based ETL platform, a cloud or on-premise database, and polished Power BI reports (including a security model derived from your own Dynamics CRM instance).
                </p>
            </div>
        </div>
    </div>
    <div class="row row-size2">
        <div class="column medium-6">
            <code>.border-radius-top-only</code><br /><br />
            <div class="border-radius-top-only" style="background-color:#ffffff;">
                <h3>Sales Management for MS Dynamics</h3>
                <p>
                    The Dynamics CRM solution template contains everything needed for a secure, scalable and extensible Sales Management dashboard analytics. In just a few hours stand up an end-to-end solution including Scribe’s cloud-based ETL platform, a cloud or on-premise database, and polished Power BI reports (including a security model derived from your own Dynamics CRM instance).
                </p>
            </div>
        </div>
        <div class="column medium-6">
            <code>.border-radius-bottom-only</code><br /><br />
            <div class="border-radius-bottom-only" style="background-color:#ffffff;">
                <h3>Sales Management for MS Dynamics</h3>
                <p>
                    The Dynamics CRM solution template contains everything needed for a secure, scalable and extensible Sales Management dashboard analytics. In just a few hours stand up an end-to-end solution including Scribe’s cloud-based ETL platform, a cloud or on-premise database, and polished Power BI reports (including a security model derived from your own Dynamics CRM instance).
                </p>
            </div>
        </div>
    </div>
</section>
