<section class="section">
    <div class="row">
        <div class="column">
            <h1>Breadcrumbs</h1>
                <pre>
                @(@"
<ol class=""breadcrumbs text-heading4"">
    <li><a href=""#"">Link 1</a></li>
    <li><a href=""#"">Link 2</a></li>
</ol>
")
</pre>
        </div>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column">
            <ol class="breadcrumbs text-heading4">
                <li><a href="#">Link 1</a></li>
                <li><a href="#">Link 2</a></li>
            </ol>
        </div>
    </div>
</section>
