@using Acom.Mvc
<section class="section">
    <div class="row">
        <div class="column">
            <h1>Icons</h1>
            <code>@@SvgIconHelper.GetSvg("slug")</code>
        </div>
    </div>
</section>

<section class="section text-center">
    <div class="row">
        @foreach (var icon in OnyxTable.Svgs.GetAllKeys())
        {
            <div class="column medium-1 sd-equalize" style="outline: 1px solid #ccc; padding: 5px; margin-bottom: 10px;">
                <span class="icon">
                    @SvgHelper.GetSvg(icon)
                </span>
                <p>@icon</p>

            </div>
        }
    </div>
</section>