<section class="section section-slate06 text-center">
    <div class="row">
        <div class="column">
            <h1>@@Html.Partial("section/_analytics-solutions")</h1>
        </div>
    </div>
</section>
@Html.Partial("section/_analytics-solutions")

<section class="section section-slate06 text-center">
    <div class="row">
        <div class="column">
            <h1>@@Html.Action("IntegrationsSection", "Integrations")</h1>
        </div>
    </div>
</section>
@Html.Action("IntegrationsSection", "Integrations")

<section class="section section-slate06 text-center">
    <div class="row">
        <div class="column">
            <h1>@@Html.Partial("section/_signup-its-free")</h1>
        </div>
    </div>
</section>
@Html.Partial("section/_signup-its-free")

<section class="section section-slate06 text-center">
    <div class="row">
        <div class="column">
            <h1>@@Html.Partial("section/_signup")</h1>
        </div>
    </div>
</section>
@Html.Partial("section/_signup")
