<section class="section">
    <div class="row">
        <div class="column">

            <h1>Tile&nbsp;&nbsp;<span class="text-heading4">BETA</span></h1>
        </div>
    </div>
</section>

<section class="section section-size3">
    <div class="row">
        <div class="column large-6">
            <h3>Tile (default)</h3>
            <p>Default styling:</p>
            <pre>
                <code>
                    .tile {
                        background-color: #fff;
                        padding: 50px 30px;
                        box-sizing: border-box;
                    }
                </code>
            </pre>
        </div>
        <div class="column large-6">
            <h3>Use Case(s):</h3>
            <ul>
                <li>
                    <a href="/get-started">
                        Get Started Page
                    </a>
                </li>
            </ul>
            <h3>Usage</h3>

            <ul>
                <li>
                    Size of the tiles determined by columns
                </li>
            </ul>
        </div>
    </div>

</section>

<section class="section section-size3 section-palette02">
    <div class="row">
        <div class="column large-6 tile">
            <div class="img-container text-center row">
                <div class="column">
                    <img src="@CdnHelper.GetCdnUrl("/pictures/pages/get-started/powerbi-desktop-monitor-screenshot.png")" alt="" srcset="@CdnHelper.GetCdnUrl("/pictures/pages/get-started/powerbi-desktop-monitor-screenshot-2x.png") 2x" />
                </div>
            </div>

            <div class="sd-equalize row row-size3" data-set="choice-content">
                <div class="column">
                    <div class="row">
                        <div class="column">
                            <h2>Power BI Desktop for Windows</h2>
                        </div>
                    </div>

                    <div class="row row-size1">
                        <div class="column">
                            <h5>Analytics tools at your fingertips</h5>
                        </div>
                    </div>

                    <div class="row row-size1">
                        <div class="column">
                            <p>Connect and transform data, create advanced calculations, and build stunning reports in minutes.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-size2">
                <div class="column">
                    <a href="#" class="button button-featured">Download</a>
                </div>
            </div>
        </div>


        <div class="column large-6 tile">
            <div class="img-container text-center row">
                <div class="column">
                    <img src="@CdnHelper.GetCdnUrl("/pictures/pages/get-started/powerbi-service-monitor-screenshot.png")" alt="" srcset="@CdnHelper.GetCdnUrl("/pictures/pages/get-started/powerbi-service-monitor-screenshot-2x.png") 2x" />
                </div>
            </div>

            <div class="sd-equalize row row-size3" data-set="choice-content">
                <div class="column">
                    <div class="row row-size3">
                        <div class="column">
                            <h2>Power BI</h2>
                        </div>
                    </div>

                    <div class="row row-size1">
                        <div class="column">
                            <h5>The easy way to see your important data in one place</h5>
                        </div>
                    </div>

                    <div class="row row-size1">
                        <div class="column">
                            <p>With a few clicks, connect to data from applications you use and get started with pre-built dashboards from experts.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row row-size2">
                <div class="column">
                    <a href="#" class="button button-featured">Sign up</a>
                </div>
            </div>
        </div>
    </div>
</section>

