<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <!-- General -->
    <add key="WebSiteNames" value="pwrbi-jobs-westus-int-01" />
    <add key="WebJobNames" value="PowerBI-Jobs-Forms-SignupRequests,PowerBI-Jobs-Forms,PowerBI-Jobs-DocumentationFeedback" />

    <!-- Credentails -->
    <add key="SubscriptionId" value="218c08cc-6360-4c4f-abe2-15fd6400e04e" />
    <add key="CertificateThumbprint" value="0572b22bc2e082f385ef10d8e9ec61dcab8e0e7f" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>