<rules>
  
  <rule name="Remove CDN cache bust fingerprint" enabled="true" stopProcessing="true">
    <match url="^cvt\-[0-9a-f]{64}/(.*)$" />
    <action type="Rewrite" url="{R:1}" />
  </rule>
  
  <rule name="FoundRedirects" stopProcessing="true">
    <match url="^([a-z]{2}-[a-z]{2})(\/.*)" />
    <conditions>
      <add input="{FoundRedirects:{R:2}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{R:1}{C:1}" redirectType="Found" />
  </rule>
  
  <rule name="No redirect on warmup request (request from localhost with warmup user agent)" stopProcessing="true">
    <match url=".*" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="localhost" />
      <add input="{HTTP_USER_AGENT}" pattern="Initialization" />
    </conditions>
    <action type="Rewrite" url="{URL}" />
  </rule>

  <rule name="Enforce lower case" stopProcessing="true">
    <match url="^[a-z]{2}-[a-z]{2}/" ignoreCase="true" />
    <conditions>
      <add input="{URL}" pattern=".*[A-Z].*" ignoreCase="false" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{ToLower:{URL}}" />
  </rule>

  <rule name="Force HTTPS" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{R:1}" pattern="^version" negate="true" />
      <add input="{R:1}" pattern="^mediahandler" negate="true" />
      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
    </conditions>
    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
  </rule>

  <rule name="Always Have Trailing Slash" stopProcessing="true">
    <match url="(.*[^/])$" />
    <conditions>
      <add input="{URL}" pattern="\." negate="true" />
      <add input="{URL}" pattern="swagger/.*" negate="true" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{R:1}/" appendQueryString="true" />
  </rule>
</rules>