.border {
  border-color: #EAEAEA;
  border-style: solid;
  border-width: 1px;
}
.border-bottom {
  border-bottom: 1px solid #EAEAEA;
}
.border-top {
  border-top: 1px solid #EAEAEA;
}
.border-left {
  border-left: 1px solid #EAEAEA;
}
.border-right {
  border-right: 1px solid #EAEAEA;
}
.border-slate01 {
  border-color: #000000;
}
.border-radius {
  border-radius: 6px;
}
.border-radius-bottom-only {
  border-bottom-left-radius: 6px;
  border-bottom-right-radius: 6px;
}
.border-radius-top-only {
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
}