.active-region {
  fill: #f2c811;
}
.country-list {
  display: none;
  height: 250px;
  overflow-y: auto;
}
.competencies .competency {
  margin-bottom: 1px;
}
.competencies .competency-gold {
  color: #856a1a;
}
.competencies .competency-silver {
  color: #737373;
}
.partner-list .partner-logo {
  position: relative;
  height: 120px;
  background-color: #ffffff;
}
.partner-list .partner-logo img {
  left: 50%;
  position: absolute;
  top: 50%;
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-height: 120px;
}