.search-result .title {
  display: inline-block;
  margin-bottom: 0;
}
.search-result .label {
  display: inline-block;
  margin-left: 10px;
}
.search-typeList li.active {
  border-bottom: 3px solid #000000;
}
.search-typeList li.active a {
  text-decoration: none;
}