<rules>
  <!-- REVERSE PROXY -->
  <rule name="Negate reverse proxy" stopProcessing="true">
    <match url="(.+)" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="proxy=off" />
    </conditions>
    <action type="Rewrite" url="{R:1}" />
  </rule>

  <rule name="RedirectPermanentLanguage" stopProcessing="true">
    <match url="([a-z]{2}-[a-z]{2})(\/.*)" />
    <conditions>
      <add input="{RedirectPermanentLanguage:{R:2}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{C:1}" redirectType="Permanent" />
  </rule>

  <rule name="PermanentRedirects" stopProcessing="true">
    <match url="^([a-z]{2}-[a-z]{2})(\/.*)" />
    <conditions>
      <add input="{PermanentRedirects:{R:2}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{R:1}{C:1}" redirectType="Permanent" />
  </rule>

  <rule name="FoundRedirects" stopProcessing="true">
    <match url="^([a-z]{2}-[a-z]{2})(\/.*)" />
    <conditions>
      <add input="{FoundRedirects:{R:2}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{R:1}{C:1}" redirectType="Found" />
  </rule>
  
  <rule name="Backwards culture routes" stopProcessing="true">
    <match url="^(.*)/([a-z]{2}-[a-z]{2})/?$" />
    <conditions>
      <add input="{R:1}" pattern="^robotsitemap$" negate="true" />
    </conditions>
    <action type="Redirect" url="{R:2}/{R:1}" redirectType="Permanent" />
  </rule>

  <rule name="Reverse proxy without Culture" stopProcessing="true">
    <match url="(.+)/" ignoreCase="True" />
    <conditions>
      <add input="{ReverseProxyPagesWithoutCulture:{R:1}}" pattern="(.+)" />
    </conditions>
    <action type="Rewrite" url="https://pbiwebprod.trafficmanager.net/{R:1}" />
  </rule>

  <rule name="Reverse proxy with Culture" stopProcessing="true">
    <match url="([a-z]{2}-[a-z]{2}|[a-z]{2})(\/.*)" />
    <conditions>
      <add input="{ReverseProxyPagesWithCulture:{R:2}}" pattern="(.+)" />
    </conditions>
    <action type="Rewrite" url="https://pbiwebprod.trafficmanager.net/{R:1}{R:2}" />
  </rule>

  <rule name="Reverse proxy styles" stopProcessing="true">
    <match url="^styles/(.*)" ignoreCase="True" />
    <action type="Rewrite" url="mediahandler/content/legacy/styles/{R:1}" />
  </rule>

  <rule name="Reverse proxy js" stopProcessing="true">
    <match url="^js/(.*)" ignoreCase="True" />
    <action type="Rewrite" url="mediahandler/content/legacy/js/{R:1}" />
  </rule>

  <rule name="Reverse proxy images" stopProcessing="true">
    <match url="^images/(.*)" ignoreCase="True" />
    <action type="Rewrite" url="mediahandler/content/legacy/images/{R:1}" />
  </rule>

  <rule name="Reverse proxy blob" stopProcessing="true">
    <match url="^blob/(.*)" ignoreCase="True" />
    <action type="Rewrite" url="mediahandler/content/legacy/blob/{R:1}" />
  </rule>
  
  <rule name="Reverse proxy partners" stopProcessing="true">
    <match url="^partners/(.*)" ignoreCase="True" />
    <action type="Rewrite" url="https://pbiwebprod.trafficmanager.net/partners/{R:1}" />
  </rule>

  <rule name="Reverse proxy sitemap" stopProcessing="true">
    <match url="^sitemap/(.*)" ignoreCase="True" />
    <action type="Rewrite" url="https://pbiwebprod.trafficmanager.net/sitemap/{R:1}" />
  </rule>
  <!-- END REVERSE PROXY -->

  <!-- MSDN BLOG REDIRECTS -->
    <rule name="Blog remove /archive" stopProcessing="true">
      <match url="([a-z]{2}-[a-z]{2})/blog/archive/(.*)" ignoreCase="true" />
      <action type="Redirect" url="{R:1}/blog/{R:2}"/>
    </rule>

    <rule name="Blog index with page number" stopProcessing="true"> <!-- Redirect for MSDN URL like: en-us/blog/default.aspx/?PageIndex=2 -->
        <match url="([a-z]{2}-[a-z]{2})/blog/default.aspx" ignoreCase="true" />
        <conditions>
            <add input="{QUERY_STRING}" pattern="PageIndex=([0-9]*)" />
        </conditions>
        <action type="Redirect" url="{R:1}/blog/?page={C:1}" appendQueryString="false" logRewrittenUrl="true"/>
    </rule>

  <rule name="Blog index without page number" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/default.aspx -->
    <match url="([a-z]{2}-[a-z]{2})/blog/default.aspx" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/blog/" appendQueryString="false" logRewrittenUrl="true" />
  </rule>

  <rule name="Blog feeds" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/atom.aspx -->
    <match url="([a-z]{2}-[a-z]{2})/blog/(.+)" ignoreCase="true" />
    <conditions>
      <add input="{MsdnBlogRedirects:{R:2}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{R:1}/blog/{C:1}" />
  </rule>

  <rule name="Blog details with underscore" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/2015/12/30/power-bi-mobile-apps-update-_2d00_-december-2015.aspx/ -->
    <match url="([a-z]{2}-[a-z]{2})/blog/([0-9]{4}/[0-9]{2}/[0-9]{2}/)(.+).aspx" ignoreCase="true" />
    <conditions>
      <add input="{MsdnBlogPostRedirects:{R:3}}" pattern="(.+)" />
    </conditions>
    <action type="Redirect" url="{R:1}/blog/{C:1}/" />
  </rule>

  <rule name="Blog details" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/2016/01/21/visual-awesomeness-unlocked-sankey-bar-chart.aspx -->
    <match url="([a-z]{2}-[a-z]{2})/blog/([0-9]{4}/[0-9]{2}/[0-9]{2}/)(.*).aspx" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/blog/{R:3}" />
  </rule>

  <rule name="Blog tag _2300_ with default" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/tags/_2300_givingtuesday/default.aspx?PageIndex=2 -->
    <match url="([a-z]{2}-[a-z]{2})/blog/tags/(.*)_2300_(.*)/default.aspx" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="PageIndex=([0-9]*)" />
    </conditions>
    <action type="Redirect" url="{R:1}/blog/tag/{R:2}-{R:3}/?page={C:1}" appendQueryString="false" logRewrittenUrl="true"/>
  </rule>

  <rule name="Blog tag with default" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/tags/microsoft/default.aspx/?PageIndex=2 -->
    <match url="([a-z]{2}-[a-z]{2})/blog/tags/([^\+]*)/default.aspx" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="PageIndex=([0-9]*)" />
    </conditions>
    <action type="Redirect" url="{R:1}/blog/tag/{R:2}/?page={C:1}" appendQueryString="false" logRewrittenUrl="true"/>
  </rule>

  <rule name="Blog tag 1+ with default" stopProcessing="true">
    <!-- Redirect for MSDN URL like: blog/archive/tags/business+intelligence/default.aspx?PageIndex=2 -->
    <match url="([a-z]{2}-[a-z]{2})/blog/tags/([^\+]*)(\+|\s)([^\+]*)/default.aspx" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="PageIndex=([0-9]*)" />
    </conditions>
    <action type="Redirect" url="{R:1}/blog/tag/{R:2}-{R:4}/?page={C:1}" appendQueryString="false" logRewrittenUrl="true" />
  </rule>

  <rule name="Blog tag 2+ with default" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/tags/power+bi+desktop/default.aspx?PageIndex=2 -->
    <match url="([a-z]{2}-[a-z]{2})/blog/tags/([^\+]*)(\+|\s)([^\+]*)(\+|\s)([^\+]*)/default.aspx" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="PageIndex=([0-9]*)" />
    </conditions>
    <action type="Redirect" url="{R:1}/blog/tag/{R:2}-{R:4}-{R:6}/?page={C:1}" appendQueryString="false" logRewrittenUrl="true" />
  </rule>

  <rule name="Blog tag 3+ with default" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/tags/microsoft+data+insights+summit/default.aspx?PageIndex=2 -->
    <match url="([a-z]{2}-[a-z]{2})/blog/tags/([^\+]*)(\+|\s)([^\+]*)(\+|\s)([^\+]*)(\+|\s)([^\+]*)/default.aspx" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="PageIndex=([0-9]*)" />
    </conditions>
    <action type="Redirect" url="{R:1}/blog/tag/{R:2}-{R:4}-{R:6}-{R:8}/?page={C:1}" appendQueryString="false" logRewrittenUrl="true" />
  </rule>

  <rule name="Blog tag _2300_" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/tags/_2300_givingtuesday/ -->
    <match url="([a-z]{2}-[a-z]{2})/blog/tags/(.*)_2300_(.*)/" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/blog/tag/{R:2}-{R:3}/" />
  </rule>

  <rule name="Blog tag" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/tags/microsoft/ -->
    <match url="([a-z]{2}-[a-z]{2})/blog/tags/([^\+]*)/" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/blog/tag/{R:2}/" />
  </rule>

  <rule name="Blog tag 1+" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/tags/business+intelligence/ -->
    <match url="([a-z]{2}-[a-z]{2})/blog/tags/([^\+]*)(\+|\s)([^\+]*)/" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/blog/tag/{R:2}-{R:4}/" />
  </rule>

  <rule name="Blog tag 2+" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/tags/power+bi+desktop/ -->
    <match url="([a-z]{2}-[a-z]{2})/blog/tags/([^\+]*)(\+|\s)([^\+]*)(\+|\s)([^\+]*)/" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/blog/tag/{R:2}-{R:4}-{R:6}/" />
  </rule>

  <rule name="Blog tag 3+" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/tags/microsoft+data+insights+summit/ -->
    <match url="([a-z]{2}-[a-z]{2})/blog/tags/([^\+]*)(\+|\s)([^\+]*)(\+|\s)([^\+]*)(\+|\s)([^\+]*)/" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/blog/tag/{R:2}-{R:4}-{R:6}-{R:8}/" />
  </rule>

  <rule name="Blog archive with default" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/2016/01.aspx/?PageIndex=2 -->
    <match url="([a-z]{2}-[a-z]{2})/blog/([0-9]{4}/[0-9]{2}).aspx" ignoreCase="true" />
    <conditions>
      <add input="{QUERY_STRING}" pattern="PageIndex=([0-9]*)" />
    </conditions>
    <action type="Redirect" url="{R:1}/blog/{R:2}/?page={C:1}" appendQueryString="false" logRewrittenUrl="true"/>
  </rule>

  <rule name="Blog archive" stopProcessing="true">
    <!-- Redirect for MSDN URL like: en-us/blog/2016/01.aspx -->
    <match url="([a-z]{2}-[a-z]{2})/blog/([0-9]{4}/[0-9]{2}).aspx" ignoreCase="true" />
    <action type="Redirect" url="{R:1}/blog/{R:2}" />
  </rule>
  <!-- END MSDN BLOG REDIRECTS -->

  <rule name="Remove CDN cache bust fingerprint" enabled="true" stopProcessing="true">
    <match url="^(cdn\/)?cvt\-[0-9a-f]{64}\/(.+\..+)$" />
    <action type="Rewrite" url="{R:2}" />
  </rule>

  <rule name="Rewrite cdn mediahandler" enabled="true" stopProcessing="true">
    <match url="^cdn\/(mediahandler\/.+)$" />
    <action type="Rewrite" url="{R:1}" />
  </rule>

  <!-- Don't redirect when it's a warmup request
       https://support.microsoft.com/en-us/kb/2843964
  -->
  <rule name="No redirect on warmup request (request from localhost with warmup user agent)" stopProcessing="true">
    <match url=".*" />
    <conditions>
      <add input="{HTTP_HOST}" pattern="localhost" />
      <add input="{HTTP_USER_AGENT}" pattern="Initialization" />
    </conditions>
    <action type="Rewrite" url="{URL}" />
  </rule>

  <rule name="Enforce lower case" stopProcessing="true">
    <match url="^[a-z]{2}-[a-z]{2}/" ignoreCase="true" />
    <conditions>
      <add input="{URL}" pattern=".*[A-Z].*" ignoreCase="false" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{ToLower:{URL}}" />
  </rule>

  <rule name="Force HTTPS" stopProcessing="true">
    <match url="(.*)" />
    <conditions>
      <add input="{R:1}" pattern="^version" negate="true" />
      <add input="{R:1}" pattern="^mediahandler" negate="true" />
      <add input="{HTTPS}" pattern="off" ignoreCase="true" />
    </conditions>
    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" appendQueryString="true" redirectType="Permanent" />
  </rule>
  
  <rule name="Rewrite swagger url" stopProcessing="true">
    <match url="^api/$" />
    <action type="Rewrite" url="swagger/ui/index" />
  </rule>
  
  <rule name="Rewrite swagger assets" stopProcessing="true">
    <match url="^api/(.*)$" />
    <conditions>
      <add input="{R:1}" pattern="^(css|ext|lib|fonts|images|swagger-ui-min-js)" />
    </conditions>
    <action type="Rewrite" url="swagger/ui/{R:1}" />
  </rule>

  <rule name="Always Have Trailing Slash" stopProcessing="true">
    <match url="(.*[^/])$" />
    <conditions>
      <add input="{URL}" pattern="\." negate="true" />
      <add input="{URL}" pattern="swagger/.*" negate="true" />
      <add input="{URL}" pattern="mediahandler/.*" negate="true" />
      <add input="{URL}" pattern="submitemail" negate="true" />
      <add input="{URL}" pattern="submit-newsletter-email" negate="true" />
    </conditions>
    <action type="Redirect" redirectType="Permanent" url="{R:1}/" appendQueryString="true" />
  </rule>
</rules>