<rewriteMaps>

  <rewriteMap name="PermanentRedirects">
    <!-- 301 Moved Permanently -->
    <add key="/androidterms/" value="/android-license-terms/" />
    <add key="/android-terms/" value="/android-license-terms/" />
    <add key="/campaigns/" value="/" />
    <add key="/dashboards/terms/" value="/terms-of-service/" />
    <add key="/designer/" value="/desktop/" />
    <add key="/documentation/powerbi-admin-analysis-services-connector-indepth/" value="/documentation/powerbi-gateway-enterprise-indepth/" />
    <add key="/documentation/powerbi-admin-data-management-gateway-in-office-365/" value="/documentation/powerbi-gateway-enterprise/" />
    <add key="/documentation/powerbi-admin-migrating-to-the-new-power-bi-experience/" value="http://go.microsoft.com/fwlink/?LinkId=619089" />
    <add key="/documentation/powerbi-admin-migration-faq/" value="http://go.microsoft.com/fwlink/?LinkId=619089" />
    <add key="/documentation/powerbi-admin-service-health-status/" value="/support/" />
    <add key="/documentation/powerbi-admin-troubleshoot-analysis-service-connector/" value="/documentation/powerbi-gateway-enterprise-tshoot/" />
    <add key="/documentation/powerbi-analysis-services-connector/" value="/documentation/powerbi-gateway-enterprise/" />
    <add key="/documentation/powerbi-bring-in-whole-excel-files/" value="/documentation/powerbi-service-excel-workbook-files/" />
    <add key="/documentation/powerbi-content-pack-visual-studio-online/" value="/documentation/powerbi-content-pack-visual-studio/" />
    <add key="/documentation/powerbi-custom-visuals-download-from-the-gallery/" value="/documentation/powerbi-custom-visuals-office-store/" />
    <add key="/documentation/powerbi-desktop-help/" value="/documentation/powerbi-desktop-getting-started/" />
    <add key="/documentation/powerbi-desktop-pyramid-analytics/" value="/documentation/powerbi-desktop-upload-desktop-files/" />
    <add key="/documentation/powerbi-desktop-tips-and-tricks-for-creating-reports/" value="/documentation/powerbi-desktop-getting-started/" />
    <add key="/documentation/powerbi-developer-integrate-a-power-bi-tile-or-report/" value="/documentation/powerbi-developer-overview-of-power-bi-rest-api/" />
    <add key="/documentation/powerbi-custom-visuals-create-for-the-gallery/" value="/documentation/powerbi-developer-office-store/" />
    <add key="/documentation/powerbi-developer-sign-up-for-power-bi-service/" value="/documentation/powerbi-admin-free-with-custom-azure-directory/" />
    <add key="/documentation/powerbi-developer-steps-to-create-a-power-bi-app/" value="/documentation/powerbi-developer-overview-of-power-bi-rest-api/" />
    <add key="/documentation/powerbi-developer-what-you-need-to-create-an-app/" value="/documentation/powerbi-developer-overview-of-power-bi-rest-api/" />
    <add key="/documentation/powerbi-free-trial-for-power-bi-pro/" value="/documentation/powerbi-service-self-service-signup-for-power-bi/" />
    <add key="/documentation/powerbi-gateway-enterprise/" value="/documentation/powerbi-gateway-onprem/" />
    <add key="/documentation/powerbi-gateway-enterprise-indepth/" value="/documentation/powerbi-gateway-onprem-indepth/" />
    <add key="/documentation/powerbi-gateway-enterprise-tshoot/" value="/documentation/powerbi-gateway-onprem-tshoot/" />
    <add key="/documentation/powerbi-gateway-enterprise-upgrade-as-connector/" value="/documentation/powerbi-gateway-enterprise/" />
    <add key="/documentation/powerbi-issue-i-get-an-error-refreshing-data-with-the-power-bi-personal-gateway/" value="/documentation/powerbi-admin-troubleshooting-power-bi-personal-gateway/" />
    <add key="/documentation/powerbi-issue-i-need-help-signing-up-for-power-bi/" value="/documentation/powerbi-service-self-service-signup-for-power-bi/" />
    <add key="/documentation/powerbi-issue-the-as-connector-wont-install-or-i-cant-connect-to-data/" value="/documentation/powerbi-gateway-enterprise-tshoot/" />
    <add key="/documentation/powerbi-issue-what-if-my-data-isnt-up-to-date/" value="/documentation/powerbi-refresh-data/" />
    <add key="/documentation/powerbi-mobile-adjust-settings-for-the-win10phone-app/" value="/documentation/powerbi-mobile-win10phone-app-get-started/" />
    <add key="/documentation/powerbi-mobile-android-tablet-kpis-mobile-reports/" value="/documentation/powerbi-mobile-android-kpis-mobile-reports/" />
    <add key="/documentation/powerbi-mobile-annotate-and-share-a-snapshot-from-the-ipad-app/" value="/documentation/powerbi-mobile-annotate-and-share-a-tile-from-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-annotate-and-share-a-tile-from-the-android-app/" value="/documentation/powerbi-mobile-annotate-and-share-a-tile-from-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-annotate-and-share-a-tile-from-the-android-tablet-app/" value="/documentation/powerbi-mobile-annotate-and-share-a-tile-from-the-android-app/" />
    <add key="/documentation/powerbi-mobile-dashboards-in-the-android-app/" value="/documentation/powerbi-mobile-create-dashboard/" />
    <add key="/documentation/powerbi-mobile-dashboards-in-the-android-tablet-app/" value="/documentation/powerbi-mobile-create-dashboard/" />
    <add key="/documentation/powerbi-mobile-dashboards-in-the-iphone-app/" value="/documentation/powerbi-mobile-create-dashboard/" />
    <add key="/documentation/powerbi-mobile-dashboards-in-the-win10phone-app/" value="/documentation/powerbi-mobile-create-dashboard/" />
    <add key="/documentation/powerbi-mobile-dashboard-smart-order-in-the-iphone-app/" value="/documentation/powerbi-mobile-tiles-in-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-dashboards-on-the-ipad-app/" value="/documentation/powerbi-mobile-create-dashboard/" />
    <add key="/documentation/powerbi-mobile-get-the-power-bi-for-android-app/" value="/documentation/powerbi-mobile-android-app-get-started/" />
    <add key="/documentation/powerbi-mobile-groups-in-the-android-app/" value="/documentation/powerbi-service-mobile-groups-in-the-ipad-app/" />
    <add key="/documentation/powerbi-mobile-groups-in-the-android-tablet-app/" value="/documentation/powerbi-service-mobile-groups-in-the-ipad-app/" />
    <add key="/documentation/powerbi-mobile-groups-in-the-iphone-app-groups/" value="/documentation/powerbi-service-mobile-groups-in-the-ipad-app/" />
    <add key="/documentation/powerbi-mobile-groups-in-the-win10phone-app/" value="/documentation/powerbi-service-mobile-groups-in-the-ipad-app/" />
    <add key="/documentation/powerbi-mobile-ipad-kpis-mobile-reports/" value="/documentation/powerbi-mobile-iphone-kpis-mobile-reports/" />
    <add key="/documentation/powerbi-mobile-qr-code-for-android/" value="/documentation/powerbi-mobile-qr-code-for-tile/" />
    <add key="/documentation/powerbi-mobile-qr-code-for-android-tablet/" value="/documentation/powerbi-mobile-qr-code-for-tile/" />
    <add key="/documentation/powerbi-mobile-report-page-tiles-in-the-android-app/" value="/documentation/powerbi-mobile-tiles-in-the-android-app/" />
    <add key="/documentation/powerbi-mobile-report-page-tiles-in-the-iphone-app/" value="/documentation/powerbi-mobile-tiles-in-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-report-page-tiles-in-the-win10phone-app/" value="/documentation/powerbi-mobile-tiles-in-the-win10phone-app/" />
    <add key="/documentation/powerbi-mobile-reports-in-the-android-tablet-app/" value="/documentation/powerbi-mobile-reports-in-the-android-app/" />
    <add key="/documentation/powerbi-mobile-set-data-alerts-in-the-android-app/" value="/documentation/powerbi-mobile-set-data-alerts-in-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-set-data-alerts-in-the-android-mobile-app/" value="/documentation/powerbi-mobile-set-data-alerts-in-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-set-data-alerts-in-the-android-tablet-app/" value="/documentation/powerbi-mobile-set-data-alerts-in-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-set-data-alerts-in-the-android-tablet-mobile-app/" value="/documentation/powerbi-mobile-set-data-alerts-in-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-set-data-alerts-in-the-windows-10-mobile-app/" value="/documentation/powerbi-mobile-set-data-alerts-in-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-share-a-dashboard-from-the-android-app/" value="/documentation/powerbi-mobile-share-a-dashboard-from-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-share-a-dashboard-from-the-android-tablet-app/" value="/documentation/powerbi-mobile-share-a-dashboard-from-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-share-a-dashboard-from-the-win10phone-app/" value="/documentation/powerbi-mobile-share-a-dashboard-from-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-share-dashboards-from-the-ipad-app/" value="/documentation/powerbi-mobile-share-a-dashboard-from-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-tiles-in-the-android-app/" value="/documentation/powerbi-mobile-tiles-in-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-tiles-in-the-android-tablet-app/" value="/documentation/powerbi-mobile-tiles-in-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-tiles-in-the-ipad-app/" value="/documentation/powerbi-mobile-tiles-in-the-iphone-app/" />
    <add key="/documentation/powerbi-mobile-tiles-in-the-win10phone-app/" value="/documentation/powerbi-mobile-tiles-in-the-iphone-app/" />
    <add key="/documentation/powerbi-refresh-tools-for-troubleshooting-issues/" value="/documentation/powerbi-gateway-onprem-tshoot/" />
    <add key="/documentation/powerbi-sample-downloads/" value="/documentation/powerbi-sample-datasets/" />
    <add key="/documentation/powerbi-service-excel-data/" value="/documentation/powerbi-service-excel-workbook-files/" />
    <add key="/documentation/powerbi-service-explore-a-dataset/" value="/documentation/powerbi-service-get-data/" />
    <add key="/documentation/powerbi-service-groups/" value="/documentation/powerbi-service-create-a-group-in-power-bi/" />
    <add key="/documentation/powerbi-service-important-considerations-for-connecting-to-data-in-power-bi/" value="/documentation/powerbi-service-get-data/" />
    <add key="/documentation/powerbi-service-mobile-known-issues-in-the-ipad-app/" value="/documentation/powerbi-mobile-known-issues-with-the-iphone-app/" />
    <add key="/documentation/powerbi-service-reference-lines-in-your-report/" value="/documentation/powerbi-service-visualizations-for-reports/" />
    <add key="/documentation/powerbi-service-tutorial-enhanced-scatter/" value="/documentation/powerbi-custom-visuals/" />
    <add key="/financialsampleworkbook/" value="/documentation/powerbi-sample-download-the-financial-sample-workbook/" />
    <add key="/landing/pyramid/" value="/" />
    <add key="/terms/" value="/terms-of-service/" />
    <add key="/win-terms/" value="/windows-license-terms/" />
    <add key="/winterms/" value="/windows-license-terms/" />
    <add key="/roles/" value="/documentation/powerbi-roles/" />
  </rewriteMap>

  <rewriteMap name="FoundRedirects">
    <!-- 302 Found -->
    <add key="/documentation/" value="/documentation/powerbi-service-get-started/" />
    <add key="/documentation/toc/" value="/documentation/powerbi-landing-page/" />
  </rewriteMap>

    <rewriteMap name="RedirectPermanentLanguage">
    <!-- 301 Moved Permanently -->
    <add key="/community/" value="https://community.powerbi.com/" />
    <add key="/studio/" value="http://design.powerbi.com/" />
    <add key="/studio/team/" value="http://design.powerbi.com/team/" />
    <add key="/visuals/" value="https://app.powerbi.com/visuals/" />
  </rewriteMap>

  <rewriteMap name="ReverseProxyPagesWithCulture">
    <add key="/designer/" value="/designer/" />
    <add key="/knowledgebase/" value="/knowledgebase/" />
  </rewriteMap>

  <rewriteMap name="ReverseProxyPagesWithoutCulture">
    <add key="datasummitlist" value="datasummitlist" />
    <add key="daxmaster" value="daxmaster" />
    <add key="extendtrialinfo" value="extendtrialinfo" />
    <add key="footer" value="footer" />
    <add key="get-dev-blog" value="get-dev-blog" />
    <add key="head" value="head" />
    <add key="header" value="header" />
    <add key="iframe-embed" value="iframe-embed" />
  </rewriteMap>

  <rewriteMap name="MsdnBlogPostRedirects">
    <add key="what_1920_s-new-on-the-power-bi-mobile-apps-915" value="what-1920-s-new-on-the-power-bi-mobile-apps-915" />
    <add key="power-bi-windows-10-universal-app-for-desktops_2C00_-tablets_2C00_-and-smartphones-now-available" value="power-bi-windows-10-universal-app-for-desktops-2c00-tablets-2c00-and-smartphones-now-available" />
    <add key="power-bi-mobile-apps-update-_2d00_-december-2015" value="power-bi-mobile-apps-update-2d00-december-2015" />
    <add key="power-bi-mobile-apps-update-_2d00_-november-2015" value="power-bi-mobile-apps-update-2d00-november-2015" />
  </rewriteMap>

  <rewriteMap name="MsdnBlogRedirects">
    <add key="atom.aspx" value="feed/" />
    <add key="rss.aspx" value="feed/" />
    <add key="privaterss.aspx" value="feed/" />
    <add key="rsscomments.aspx" value="feed/" />
  </rewriteMap>
</rewriteMaps>
