@font-face {
  font-family: 'DIN';
  src: url('/fonts/din/light/latest.eot');
  src: local("DIN Light"), url('/fonts/din/light/latest.eot?#iefix') format('embedded-opentype'), url('/fonts/din/light/latest.woff') format('woff'), url('/fonts/din/light/latest.ttf') format('truetype');
  font-style: normal;
  font-weight: 200;
}
@font-face {
  font-family: 'DIN';
  src: url('/fonts/din/normal/latest.eot');
  src: local("DIN UI"), url('/fonts/din/normal/latest.eot?#iefix') format('embedded-opentype'), url('/fonts/din/normal/latest.woff') format('woff'), url('/fonts/din/normal/latest.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}