<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="serviceSettings" type="Acom.Configuration.Services.ServiceSettingsSection, Onyx.Configuration" />
  </configSections>
  <appSettings file="config\appsettings.config"></appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <customErrors mode="RemoteOnly" />
    <caching>
      <outputCacheSettings>
        <outputCacheProfiles>
          <add name="SiteCache" duration="600" varyByParam="*" varyByCustom="ServerName" enabled="false" />
          <add name="BlogCache" duration="300" varyByParam="*" varyByCustom="ServerName" enabled="false" />
          <add name="SupportCache" duration="300" varyByParam="*" varyByCustom="ServerName" enabled="false" />
          <add name="DataJournalismCache" duration="600" varyByParam="*" varyByCustom="DataJournalism" enabled="false" />
          <add name="CloudPreferenceCache" duration="600" varyByParam="*" varyByCustom="CloudPreference" enabled="false" />
        </outputCacheProfiles>
      </outputCacheSettings>
    </caching>
    <machineKey decryption="AES" decryptionKey="0AD4720D7D5530C7CB66E4FF5F684C566DA85E11FAD6626E" validation="HMACSHA512" validationKey="FDEEE7D2AF6270B7E5186B4A665E829239884809C8A3ECB450B352E4ED79A423B8FA743BD41C562CB90DBD1EE986C664730793CA3048A88C08F453C5837902B6" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"></modules>
    <staticContent>
      <remove fileExtension=".ipa" />
      <remove fileExtension=".plist" />
      <remove fileExtension=".svg" />
      <remove fileExtension=".mp4" />
      <remove fileExtension=".eot" />
      <remove fileExtension=".otf" />
      <remove fileExtension=".woff" />
      <mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
      <mimeMap fileExtension=".ipa" mimeType="application/octet-stream" />
      <mimeMap fileExtension=".plist" mimeType="application/xml" />
      <mimeMap fileExtension=".mp4" mimeType="video/mp4" />
      <mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
      <mimeMap fileExtension=".otf" mimeType="font/otf" />
      <mimeMap fileExtension=".woff" mimeType="font/x-woff" />
    </staticContent>
    <rewrite>
      <rewriteMaps configSource="config\rewriteMaps.config" />
      <rules configSource="config\rewriteRules.config" />
      <outboundRules>
        <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
          <match serverVariable="RESPONSE_Strict_Transport_Security" pattern=".*" />
          <conditions>
            <add input="{HTTPS}" pattern="on" ignoreCase="true" />
          </conditions>
          <action type="Rewrite" value="max-age=31536000" />
        </rule>
        <rule name="Change X-Frame-Options value to blank when coming from *.powerbi.com">
          <match serverVariable="RESPONSE_X_Frame_Options" pattern="deny" />
          <conditions>
            <add input="{HTTP_REFERER}" pattern=".*\.powerbi\.com" />
          </conditions>
          <action type="Rewrite" value="" />
        </rule>
        <rule name="AddCrossDomainHeader">
          <match serverVariable="RESPONSE_Access_Control_Allow_Origin" pattern=".*" />
          <conditions logicalGrouping="MatchAll" trackAllCaptures="true">
            <add input="{HTTP_ORIGIN}" pattern="(http(s)?://powerbi(-staging)?\.microsoft\.com|http(s)?://.*\.powerbi\.com)" />
          </conditions>
          <action type="Rewrite" value="*" />
        </rule>
      </outboundRules>
    </rewrite>
    <httpProtocol>
      <customHeaders>
        <add name="X-Content-Type-Options" value="nosniff" />
        <add name="X-Frame-Options" value="deny" />
        <remove name="X-Powered-By" />
        <add name="Arr-Disable-Session-Affinity" value="true" />
        <add name="Access-Control-Allow-Methods" value="GET,HEAD,OPTIONS" />
        <add name="Access-Control-Allow-Headers" value="X-PowerBI-User-GroupId" />
      </customHeaders>
    </httpProtocol>
    <applicationInitialization>
      <add initializationPage="/en-us/" />
    </applicationInitialization>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
      <add name="mediahandler_powerbiblog" path="mediahandler/blog" verb="*" type="Onyx.MediaHandler.MediaHandlerFactory, Onyx.MediaHandler" preCondition="integratedMode" resourceType="Unspecified" />
      <add name="mediahandler_partners" path="mediahandler/partnersv2" verb="*" type="Onyx.MediaHandler.MediaHandlerFactory, Onyx.MediaHandler" preCondition="integratedMode" resourceType="Unspecified" />
      <add name="mediahandler_content" path="mediahandler/content" verb="*" type="Onyx.MediaHandler.MediaHandlerFactory, Onyx.MediaHandler" preCondition="integratedMode" resourceType="Unspecified" />
    </handlers>
    <security>
      <requestFiltering allowDoubleEscaping="true" />
    </security>
  </system.webServer>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.WindowsAzure.Storage" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.2.0" newVersion="5.0.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <serviceSettings configSource="config\servicesettings.config"></serviceSettings>
</configuration>