@using Resources = PowerBI.Resources.Shared.Section.ModalDownloadEbook

<section id="ebook-thankyou-modal" class="section section-small modal">
    <a href="#" class="close">&times;</a>

    <div class="row">
        <div class="column text-center">
            <p class="text-super">@Resources.EIPThankyou_Heading</p>
        </div>
    </div>

    <div class="row row-size3">
        <div class="column text-center">
            <p>@Html.Raw(Resources.EIPThankyou_Content)</p>
        </div>
    </div>

    <div class="row row-size3">
        <div class="column text-center">
            <a target="_blank" data-event="getstarted-clicked-getebookcta" id="thankyou-get-ebook" href="https://microsoft.docalytics.com/v/what-color-is-your-data2" class="button button-featured">@Resources.EIPThankyou_Cta</a>
        </div>
    </div>

</section>
