@using Resources = PowerBI.Resources.Shared.Section.Signup
@using Forms = PowerBI.Resources.Shared.Forms.Form

<section class="section section-slate01">
    <div class="row">
        <div class="column medium-4">
            <h3>@Resources.SignupGetStarted</h3>
            <p>@Html.RawFormatInvariant(Resources.SignupFreeProUser)</p>
        </div>
        <div class="column medium-8">
            @Html.CreateForm("Signup", new Acom.Forms.Models.FormOptions
            {
                Class = "form-email-only",
                Slug = "signup",
                SubmitRedirectUrl = "https://app.powerbi.com/signupredirect",
            })
            <p class="text-mini">@Html.RawFormatInvariant(Forms.Terms_UseItFree, Html.LocalizeUrl("/terms-of-service/"))</p>
        </div>
    </div>
</section>