@model PowerBI.Web.Models.Pages.ViewMetadataModel
@using Resources = PowerBI.Resources.Pages.Support.Ticket

@{
    Model.PageTitle = Resources.META_PAGETITLE;
    Model.MetaDescription = Resources.META_DESCRIPTION;
    Model.MetaKeywords = Resources.META_KEYWORDS;
}

<section class="section section-palette02">
    <div class="row column">
        <h1>@Resources.Hero_Heading</h1>
    </div>
</section>

<section class="section">
    <div class="row">
        <div class="column medium-8 large-6">
            @Html.CreateForm("SupportProTicket", new Acom.Forms.Models.FormOptions
            {
                Slug = "support-pro-ticket",
                SubmitText = Resources.Submit_Text
            })
        </div>
    </div>
</section>